<h3 class="section-title">Aria-role support</h3>
<p class="lead">Ember provides aria role support with the addition of the <kbd>ariaRole</kbd> property.  </p>
<section>
  <h4 class="section-title">Aria Role</h4>
  <p>For this section, aria- roles have been applied to a div element. Note: this does not mean that these roles are appropriate for a div element. This is only to demonstrate what happens when these roles are on a div element. Many roles are only appropriate for specific HTML elements and the spec specifically defines which are acceptable.</p>
  <p>There are four usable categories: <a href="examples/aria-role/#role-widget">Widget</a>, <a href="examples/aria-role/#role-composite">widgets that act as composite interface widgets</a>, <a href="examples/aria-role/#role-docstructure">document structure</a>, and <a href="examples/aria-role/#role-landmark">landmarks</a>.</p>

  <article class="aria-roles">
    <h5><a id="role-widget"></a>Widget Roles</h5>
    {{demo-div ariaRole="alert"}}
    {{demo-div ariaRole="alertdialog"}}
    {{demo-div ariaRole="button"}}
    {{demo-div ariaRole="checkbox"}}
    {{demo-div ariaRole="dialog"}}
    {{demo-div ariaRole="gridcell"}}
    {{demo-div ariaRole="link"}}
    {{demo-div ariaRole="log"}}
    {{demo-div ariaRole="marquee"}}
    {{demo-div ariaRole="menuitem"}}
    {{demo-div ariaRole="menuitemcheckbox"}}
    {{demo-div ariaRole="option"}}
    {{demo-div ariaRole="progressbar"}}
    {{demo-div ariaRole="radio"}}
    {{demo-div ariaRole="scrollbar"}}
    {{demo-div ariaRole="slider"}}
    {{demo-div ariaRole="spinbutton"}}
    {{demo-div ariaRole="status"}}
    {{demo-div ariaRole="tab"}}
    {{demo-div ariaRole="tabpanel"}}
    {{demo-div ariaRole="textbox"}}
    {{demo-div ariaRole="timer"}}
    {{demo-div ariaRole="tooltip"}}
    {{demo-div ariaRole="treeitem"}}
  </article>

  <article class="aria-roles">

    <h5><a id="role-composite"></a>Widgets that act as composite user interface widgets</h5>
    {{demo-div ariaRole="combobox"}}
    {{demo-div ariaRole="grid"}}
    {{demo-div ariaRole="listbox"}}
    {{demo-div ariaRole="menu"}}
    {{demo-div ariaRole="menubar"}}
    {{demo-div ariaRole="radiogroup"}}
    {{demo-div ariaRole="tablist"}}
    {{demo-div ariaRole="tree"}}
    {{demo-div ariaRole="treegrid"}}
  </article>

  <article class="aria-roles">

    <h5><a id="role-docstructure"></a>Document Structure</h5>
    {{demo-div ariaRole="article"}}
    {{demo-div ariaRole="columnheader"}}
    {{demo-div ariaRole="definition"}}
    {{demo-div ariaRole="directory"}}
    {{demo-div ariaRole="document"}}
    {{demo-div ariaRole="group"}}
    {{demo-div ariaRole="heading"}}
    {{demo-div ariaRole="img"}}
    {{demo-div ariaRole="list"}}
    {{demo-div ariaRole="listitem"}}
    {{demo-div ariaRole="math"}}
    {{demo-div ariaRole="note"}}
    {{demo-div ariaRole="presentation"}}
    {{demo-div ariaRole="region"}}
    {{demo-div ariaRole="row"}}
    {{demo-div ariaRole="rowgroup"}}
    {{demo-div ariaRole="rowheader"}}
    {{demo-div ariaRole="separator"}}
    {{demo-div ariaRole="toolbar"}}

  </article>

  <article class="aria-roles">
    <h5><a id="role-landmark"></a>Landmark Roles</h5>
    {{demo-div ariaRole="application"}}
    {{demo-div ariaRole="banner"}}
    {{demo-div ariaRole="complementary"}}
    {{demo-div ariaRole="contentinfo"}}
    {{demo-div ariaRole="form"}}
    {{demo-div ariaRole="main"}}
    {{demo-div ariaRole="navigation"}}
    {{demo-div ariaRole="search"}}
  </article>

  <h3 class="section-title">Links</h3>

  <ul>
    <li>
      <a href="http://emberjs.com/api/classes/Ember.AriaRoleSupport.html" rel="external">
        Documentation
      </a>
    </li>
    <li>
      <a href="https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-views/lib/mixins/aria_role_support.js#L8" rel="external">
        Source code
      </a>
    </li>
  </ul>
</section>
