<h2>Input helper</h2>

<h3>Examples</h3>

<div>
  <h4>Text field with a value</h4>
  <p>Source</p>
  <code>
    \{{input value="987"}}
  </code>
  <p>Output</p>
  {{input value="987"}}
</div>


<div>
  <h4>Checkbox (checked)</h4>
  <p>Source</p>
  <code>
    \{{input type="checkbox" checked=true}}
  </code>
  <p>Output</p>
  {{input type="checkbox" checked=true}}
</div>

<h3>Links</h3>

<ul>
  <li>
    <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_input">
      Documentation
    </a>
  </li>
  <li>
    <a href="https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-htmlbars/lib/keywords/input.js#L8">
      Source code
    </a>
  </li>
</ul>


{{outlet}}
