<h2 class="page-header">Input helper</h2>

<p>
  Ember's builtin helper for creating <code>input</code> DOM elements.
  Supports text fields and checkboxes.
</p>

<h3 class="section-title">Examples</h3>

<div class="example">
  <h4>Text field with a value</h4>
  <div class="output">
  <label>Demo Label: 
    {{input value="987"}}
    </label>
  </div>
  <div class="source">
    <code>
      \{{input value="987"}}
    </code>
  </div>
</div>

<div class="example">
  <h4>Checkbox (checked)</h4>
  <div class="output">
  <label>
    {{input type="checkbox" checked=true}} Check!
    </label>
  </div>
  <div class="source">
    <code>
      \{{input type="checkbox" checked=true}}
    </code>
  </div>
</div>


<h3 class="section-title">Links</h3>
<ul>
  <li>
    <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_input">
      Documentation
    </a>
  </li>
  <li>
    <a href="https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-htmlbars/lib/keywords/input.js#L8">
      Source code
    </a>
  </li>
</ul>


{{outlet}}
