<h3 class="section-title"><a href="https://github.com/ciena-frost/ember-frost-core" rel="external">Ember Frost Core</a></h3>
<div class="example">
	<h4>Buttons</h4>
	<h5>Primary:</h5>
	<div class="output">
		{{frost-button
		priority='primary'
		size='small'
		text='Action'
	}}
</div>
<div class="source">
<pre>
\{{frost-button priority='primary' size='small' text='Action'}}

</pre>
</div>
</div>
<div class="example">
	<h5>Secondary:</h5>
	<div class="output">
		{{frost-button
		priority='secondary'
		size='small'
		text='Action'
	}}
</div>
<div class="source">
	<pre>
\{{frost-button priority='secondary' size='small' text='Action'}}
	</pre>
</div>
</div>
<div class="example">
	<h5>Tertiary</h5>
	<div class="output">
	{{frost-button priority='tertiary' size='small' text='Action'}}
</div>
<div class="source">
	<pre>
\{{frost-button priority='tertiary' size='small' text='Action'}}
	</pre>
</div>
</div>


