<header>
<div class="container">
  <div class="title">
    <img class="brand-logo" alt="" role="presentation" src="assets/images/ember-a11y.png" /> 
    <h1>Ember Accessibility demo app</h1>
  </div>
</div>
</header>
<div class="main">
<div class="container">
  <ul class="navigation" role="navigation">
      <li>{{link-to 'Home' 'index'}}</li>
      <li><span class="nav-heading">Helpers</span></li>
      <li>{{link-to 'Inputs' 'examples.input-helper'}}</li>
      <li>{{link-to 'Link-to' 'examples.link-to-helper'}}</li>
      <li>{{link-to 'Textarea' 'examples.textarea-helper'}}</li>
      <li>{{link-to 'Aria-Role' 'examples.aria-role'}}</li>
      <li><span class="nav-heading">Addons</span></li>
      <li>{{link-to 'Power Select''addons.power-select'}}</li>
      <li>{{link-to 'Liquid Fire' 'addons.liquid-fire'}}</li>
      <li>{{link-to 'Frost Core' 'addons.frost-core'}}</li>
    </ul>

  <section class="content" role="main">
    {{outlet}}
  </section>
</div>
</div>

<footer class="contentinfo" role="contentinfo">
  <p class="contentinfo_copyright">
      <small><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">ember-a11y-demo</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</small>
  </p>
  <p class="contentinfo_social">
  </p>
</footer>
